@import '../../scss/variables.scss';


@media (max-width: $small-devices) {

// ----------------------------HERO 2--------------------------------------

    .hero-1 {
        background-image: url(../../img/nio-day-2021-countdown-mobile.png);
        background-size: cover;
        background-position: center;
        // background-attachment: fixed;
        width: 100vw;
        height: 100vh;
    }

    .hero-logo {
        margin-top: 15%;
        display: flex;
        justify-self: center;
        align-self: center;
        width: 6rem;
        height: 6rem;
    }

    .hero-2 {
        background-image: url(../../img/ec6-background-mobile.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
    }

    .hero-1-text, .hero-1-date, .hero-1-location {
        color: white;
        text-align: center;
    }

    .hero1-container {
        display: grid;
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    .hero-1-date {
        letter-spacing: 4px;
    }

    .hero-1-location {
        margin: 0;
        font-weight: bold;
    }

    .hero-1-text-wrapper {
        display: grid;
        justify-content: center;
        align-content: center;
    }

    .hero-1-text {
        letter-spacing: 5px;
    }

    .live-stream-btn {
        margin-top: 50px;
        background:none;
        border: 1px solid white;
        padding: 10px 30px 10px 30px; 
        font-size:1em;
        color:white;  
    }

    .live-stream-btn:hover {
        background-color: white;
        color: black;
    }


    @media (max-width: 320px) {
        
        .live-stream-btn {
            margin-top: 50px;
            background:none;
            border: 1px solid white;
            padding: 10px 20px 10px 20px; 
            font-size:1em;
            color:white;  
            display: flex;
            justify-self: center;
        } 

        .hero-1-date{
            letter-spacing: 3px;
        }
    }


    // ----------------------------HERO 2--------------------------------
    

    .ec6-logo {
        display: flex;
        justify-self: center;
        width: 226px;
        height: 67px;
        margin-top: 33vh;
    }

    .hero-2 {
        display: grid;
        justify-content: center;
    }


    .learn-more-btn {
        display: grid;
        justify-content: center;
        margin-top: 90%;
        background:none;
        border: 1px solid white;
        padding: 15px 30px 15px 30px; 
        font-size:1em;
        height: 50px;
        width: 60vw;
        color:white;  
    }

    .learn-more-btn:hover {
        background-color: white;
        color: black;
    }

    @media (max-width: 320px) {
        .learn-more-btn {
            text-align: center;
            vertical-align: middle;
            margin-bottom: 10%;
            display: grid;
            height: 50px;
            width: 80vw;
            color:white;  
        }
    }

    // ---------------------------- HERO 3------------------------------------

    .hero-3 {
        background-image: url(../../img/home-es6-mobile.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
        display: grid;
        justify-content: center;
    }

    .es6-logo {
        display: flex;
        justify-self: center;
        width: 226px;
        height: 67px;
        margin-top: 33vh;
    }



    //-------------------------------HERO 4----------------------------------------

    .hero-4 {
        background-image: url(../../img/home-es8-mobile.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
        display: grid;
        justify-content: center;
    }

    .es8-logo {
        display: flex;
        justify-self: center;
        width: 226px;
        height: 87px;
        margin-top: 30vh;
    }


    //-------------------------------HER0 5----------------------------------------

    .hero-5 {
        background-image: url(../../img/baas-lead-mobile.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
        display: grid;
        justify-content: center;
    }

    .hero-5-text-wrapper {
        position: relative;
        top: 30vh;
    }

    .nio-hero-logo {
        display: flex;
        justify-self: center;
        width: 150px;
        height: 80px; 
        margin: auto;
    }

    .hero-5-title {
        color:white;
        font-weight: bold;
        font-size: 2rem;
        text-align: center;
        margin: 25px 0px 10px 0px;
    }

    .hero-5-text {
        color: white;
        font-size: 1.5rem;
        letter-spacing: 1px;
        text-align: center;
        margin: 0px 0px 50px 0px;
    }

    #hero5-learn-btn {
        width: 73vw;
        margin-top: 0px;
    }


    //----------------------------------HERO 6-------------------------------------

    .hero-6 { 
        background-image: url(../../img/hero-100kwh-launch-mobile.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
        display: grid;
        justify-content: center; 
    }

    .hero6-text-wrapper{
        position: relative;
        top: 20vh;
    }

    .nio-hero6-logo{
        display: flex;
        justify-self: center;
        width: 150px;
        height: 80px; 
        margin: auto;
    }

    .hero-6-title {
        color: white;
        text-align: center;
        font-size: 1.7rem;
        margin: 95px 0px 5px 0px;
    }

    .hero6-text {
        color: white;
        text-align: center;
        font-size: 1.7rem;
        margin: 0;
    }

    .hero6-date {
        color: white;
        text-align: center;
        font-size: 1.2rem;
    }

    .press-release-btn {
        display: grid;
        justify-content: center;
        background: none;
        border: 1px solid white;
        padding: 15px 30px 15px 30px;
        font-size: 1em;
        height: 50px;
        width: 60vw;
        color: white;
    }

    .press-release-btn:hover {
       background-color: white;
       color: black;
    }

    @media (max-width: 320px) {
        .press-release-btn {
            text-align: center;
            vertical-align: middle;
            margin-bottom: 10%;
            display: grid;
            height: 50px;
            width: 80vw;
            color:white;  
        }  
    }

    @media (max-width: 375px) {
        .press-release-btn {
            text-align: center;
            vertical-align: middle;
            margin-bottom: 10%;
            display: grid;
            height: 50px;
            width: 80vw;
            color:white;  
        }  
    }

    //-----------------------------------HERO 7-------------------------------------------

    .hero-7{
        background-image: url(../../img/nio-house.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
        display: grid;
        justify-content: center; 
    }

    .nio-house-logo {
        display: flex;
        justify-self: center;
        width: 213px;
        height: 35px;
        margin-top: 20vh;
    }

    .hero7-text {
        text-align: center;
        color: white;
        margin: 10px 0px 10px 0px;
        font-weight: 500;
        font-size: 1.5rem;
    }

    #hero7-btn {
        display: flex;
        justify-self: center;
        width: 50%;
        margin: 10px 0px 500px 0px;
    }

    @media (max-width: 320px) {
        .hero7-text {
            margin: 15px 0px 15px 0px;
            font-size: 1.2rem;
        }
    }

    @media (max-width: 375px) {
        .hero7-text {
            margin: 15px 0px 15px 0px;
            font-size: 1.2rem;
        }
    }

}








@media (min-width: $large-devices) {

    .hero-1 {
        background-image: url(../../img/nio-day-2021-countdown-desktop.png);
        background-position: center;
        background-attachment: fixed;
        width: 100vw;
        height: 100vh;
    }
}
