@import '../../scss/variables.scss';


@media (max-width: $small-devices) {

// ----------------------------HERO 2--------------------------------------

    .hero-1 {
        background-image: url(../../img/nio-day-2021-countdown-mobile.png);
        background-size: cover;
        background-position: center;
        // background-attachment: fixed;
        width: 100vw;
        height: 100vh;
    }

    .hero-logo {
        margin-top: 15%;
        display: flex;
        justify-self: center;
        align-self: center;
        width: 6rem;
        height: 6rem;
    }

    .hero-2 {
        background-image: url(../../img/ec6-background-mobile.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
    }

    .hero-1-text, .hero-1-date, .hero-1-location {
        color: white;
        text-align: center;
    }

    .hero1-container {
        display: grid;
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    .hero-1-date {
        letter-spacing: 4px;
    }

    .hero-1-location {
        margin: 0;
        font-weight: bold;
    }

    .hero-1-text-wrapper {
        display: grid;
        justify-content: center;
        align-content: center;
    }

    .hero-1-text {
        letter-spacing: 5px;
    }

    .live-stream-btn {
        margin-top: 50px;
        background:none;
        border: 1px solid white;
        padding: 10px 30px 10px 30px; 
        font-size:1em;
        color:white;  
    }

    .live-stream-btn:hover {
        background-color: white;
        color: black;
    }


    @media (max-width: 320px) {
        
        .live-stream-btn {
            margin-top: 50px;
            background:none;
            border: 1px solid white;
            padding: 10px 20px 10px 20px; 
            font-size:1em;
            color:white;  
            display: flex;
            justify-self: center;
        } 

        .hero-1-date{
            letter-spacing: 3px;
        }
    }


    // ----------------------------HERO 2--------------------------------
    

    .ec6-logo {
        display: flex;
        justify-self: center;
        width: 226px;
        height: 67px;
        margin-top: 33vh;
    }

    .hero-2 {
        display: grid;
        justify-content: center;
    }


    .learn-more-btn {
        display: grid;
        justify-content: center;
        margin-top: 90%;
        background:none;
        border: 1px solid white;
        padding: 15px 30px 15px 30px; 
        font-size:1em;
        height: 50px;
        width: 60vw;
        color:white;  
    }

    @media (max-width: 320px) {
        .learn-more-btn {
            text-align: center;
            vertical-align: middle;
            margin-bottom: 10%;
            display: grid;
            height: 50px;
            width: 80vw;
            color:white;  
        }
    }

}








@media (min-width: $large-devices) {

    .hero-1 {
        background-image: url(../../img/nio-day-2021-countdown-desktop.png);
        background-position: center;
        background-attachment: fixed;
        width: 100vw;
        height: 100vh;
    }
}
